<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add Text Here</h1>

<form method="POST" action="{% url 'journal' %}">
    {% csrf_token %}

    <textarea name="j"></textarea><br><br>

    <button type="submit">Submit</button>
</form>

{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}

<h2>Go to Landing</h2>
<a href="{% url 'landing' %}">
    <button>Landing</button>
</a>
</body>
</html>